name: Continuous Deployment

# Trigger the CD pipeline only when pushing to the main branch
on:
  push:
    branches:
      - main
env:
  NEXT_PUBLIC_AUTH0_AUDIENCE: "https://zanesworld.click"
  NEXT_PUBLIC_AUTH0_CLIENT_ID: "9gbYkOK0QacEul9QHfidMwhRurXbnPS1"
  NEXT_PUBLIC_AUTH0_DOMAIN: "dev-7n448ak2gn3oqctx.us.auth0.com"
  NEXT_PUBLIC_AUTH0_SCOPES: "server-manager:admin gloomhaven-companion:admin server-manager:public gloomhaven-companion:public"
  NEXT_PUBLIC_GLOOMHAVEN_COMPANION_SERVICE_DOMAIN: "https://api.zanesworld.click/gloomhaven-companion-service"
  NEXT_PUBLIC_GLOOMHAVEN_COMPANION_WEBSOCKETS_URL: "wss://ws.zanesworld.click/gloomhaven-companion-service"
  NEXT_PUBLIC_SERVER_MANAGER_SERVICE_DOMAIN: "https://zanesworld.click/server-manager-service"
  NEXT_PUBLIC_WEBSITE_DOMAIN: "https://zanesworld.click"

jobs:
  build:
    name: Build and Deploy
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"
      - name: Install Dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest
      - name: Terraform Init
        run: terraform -chdir=deployments/terraform init
      - name: Terraform Apply
        run: terraform -chdir=deployments/terraform apply --auto-approve=true
